@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.whole {
    height: auto;
    width: auto;
    padding: 10px;
}

.liss {
    font-family: "Gill Sans", sans-serif;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 2px;

}


ul {
    list-style-type: none;
}

.hov:hover {
    color: transparent;
    text-shadow: 1px 1px 1px grey;

}


.setting {
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
}

.imag {
    height: 400px;
    width: 420px;
}

.option {
    font-family: cursive;
}

.home {
    text-decoration: underline;
}

.homee {
    display: block;
}

.movies {
    display: none;
}

.tv {
    display: none;
}

.sports {
    display: none;
}

.live {
    display: none;
}